In [10]:
servicekey = "dtbWOdJ%2FCz5HE0DGLU%2BCRPe7pOW0NIQBUcGEqsHZaTRiYCI%2F5%2BzugwzQjcvuId7NPdg6rUiW%2Bft3fm7yqyD4pw%3D%3D"
url = "http://openapi.data.go.kr/openapi/service/rest/Covid19/getCovid19InfStateJson"

In [17]:
## openapi 라이브러리 로드
import requests
from urllib import parse
import xmltodict
import pandas as pd

In [16]:
!pip install requests xmltodict

Collecting requests
  Using cached requests-2.28.2-py3-none-any.whl (62 kB)
Collecting xmltodict
  Downloading xmltodict-0.13.0-py2.py3-none-any.whl (10.0 kB)
Collecting charset-normalizer<4,>=2
  Downloading charset_normalizer-3.0.1-cp311-cp311-win_amd64.whl (96 kB)
     ---------------------------------------- 96.0/96.0 kB 2.8 MB/s eta 0:00:00
Collecting idna<4,>=2.5
  Downloading idna-3.4-py3-none-any.whl (61 kB)
     ---------------------------------------- 61.5/61.5 kB 3.2 MB/s eta 0:00:00
Collecting urllib3<1.27,>=1.21.1
  Downloading urllib3-1.26.14-py2.py3-none-any.whl (140 kB)
     -------------------------------------- 140.6/140.6 kB 1.7 MB/s eta 0:00:00
Collecting certifi>=2017.4.17
  Downloading certifi-2022.12.7-py3-none-any.whl (155 kB)
     -------------------------------------- 155.3/155.3 kB 3.1 MB/s eta 0:00:00
Installing collected packages: charset-normalizer, xmltodict, urllib3, idna, certifi, requests
Successfully installed certifi-2022.12.7 charset-normalizer-3.0.1 idna-3.4 requests-2.28.2 urllib3-1.26.14 xmltodict-0.13.0

[notice] A new release of pip available: 22.3.1 -> 23.0
[notice] To update, run: python.exe -m pip install --upgrade pip

In [ ]:
## openapi를 이용해서 서버와 통신하여 데이터를 가져오는 작업
## 어느 api에 접속할지 url 변수 생성
url = "http://openapi.data.go.kr/openapi/service/rest/Covid19/getCovid19InfStateJson"

## 공공데이터 포털에서 주소와 함께 보내야되는 요청 변수
#서비스키
service_key = "dtbWOdJ%2FCz5HE0DGLU%2BCRPe7pOW0NIQBUcGEqsHZaTRiYCI%2F5%2BzugwzQjcvuId7NPdg6rUiW%2Bft3fm7yqyD4pw%3D%3D"

param = {
    'serviceKey' : parse.unquote(service_key), # unquote는 문자열을 요청변수화 시키는 함수
    'pageNo' : '1', # 페이지 번호
    'numOfRows' : '5000', # 페이지당 데이터의 수
    'startCreateDt' : '20220101', # 데이터 시작일자
    'endCreateDt' : '20230210'}  # 데이터 마지막일자

    ##서버에게 요청
response = requests.get(url, params=param)
#response는 xml형태의 데이터

#xml 데이터를 dict형태로 변환(parse)
result = xmltodict.parse(response.content)
print(result)

In [20]:
## result의 결과 안에 response안에 body안에 items안에 #item의 데이터가 필요

rows = result['response']['body']['items']['item']

In [21]:
df = pd.DataFrame(rows) #위에 있는 데이터를 더 잘보려고 df 형태로 바꿔줌
df

,createDt,deathCnt,decideCnt,seq,stateDt,stateTime,updateDt,accExamCnt
0,2023-02-10 04:22:09.0,33697,30325343,1159,20230210,00:00,2023-02-11 06:02:40.0,NaN
1,2023-02-09 00:13:08.0,33680,30311839,1158,20230209,00:00,2023-02-11 06:03:21.0,NaN
2,2023-02-08 00:10:49.0,33646,30297177,1157,20230208,00:00,2023-02-11 06:03:54.0,NaN
3,2023-02-07 04:25:43.0,33624,30279250,1156,20230207,00:00,2023-02-11 06:04:17.0,NaN
4,2023-02-06 04:20:35.0,33614,30263138,1155,20230206,00:00,2023-02-11 06:04:43.0,NaN
...,...,...,...,...,...,...,...,...
400,2022-01-05 09:01:59.247,5838,649661,749,20220105,00:00,2022-01-12 09:09:21.324,19778824
401,2022-01-04 09:04:35.476,5781,645220,748,20220104,00:00,2022-01-12 09:09:14.713,19671880
402,2022-01-03 08:58:35.591,5730,642199,747,20220103,00:00,2022-01-08 09:40:28.974,19546883
403,2022-01-02 08:57:24.688,5694,639074,746,20220102,00:00,2022-01-08 09:40:16.808,19456900
404,2022-01-01 09:02:39.218,5625,635243,745,20220101,00:00,2022-01-08 09:40:05.3,19364122

In [22]:
#pandas를 이용하여 csv로 파일 저장
df.to_csv('corona.csv', encoding='UTF-8')